@media print {
  @page {
    size: landscape;
  }
  html,
  body {
    /* height: 96vh; */
    /* width: 96vw; */
    /* margin: 2vh !important; */
    padding: 4vh 0vh !important;
    /* overflow: hidden; */
  }
}
.page {
  min-height: calc(100vh - 45px);
  width: 100vw;
  display: flex;
}
