* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: #808080;
  color: #ffc709;
  color: #dedede;
  color: #1736f5;
}

.link {
  color: rgba(23, 53, 245, 1);
}
.link:hover {
  color: rgba(23, 53, 245, 0.9);
}
.link:active {
  color: rgba(23, 53, 245, 0.7);
}

.button-primary {
  margin-top: 15px;
  font-size: 1rem;
  padding: 8px 10px;
  border: 2px solid rgba(23, 53, 245, 0.8);
  border-radius: 5px;
  width: 100%;
  transition: all 0.1s ease-in-out;
  background-color: rgba(23, 53, 245, 0.7);
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
.button-primary:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgba(23, 53, 245, 0.8);
}
.button-primary:active {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: rgba(23, 53, 245, 0.4);
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
  border-radius: 10px;
}
